<div *ngIf="isAddIOP==true">
    <div class="content" style="height: 400px;">
        <h2>Add IPO Details</h2>
        <div class="action">
            <form action="" method="post" >
                <div>
                    <label>Company Name:</label>
                    <select class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <div>
                    <label>Stock Exchange:</label>
                    <input type="text"/>
                </div>
                <div>
                    <label>Price per share:</label>
                    <input type="text"/>
                </div>
                <div>
                    <label>Total number of Shares:</label>
                    <input type="text"/>
                </div>
                <div>
                    <label>Open Date Time:</label>
                    <input type="date"/>
                </div>
                <div>
                    <label>Remarks:</label>
                    <input type="text"/>
                </div>
                <button type="button" class="btn btn-info btn-lg" style="margin-left: 370px; margin-top: 40px;" (click)="onSwitch(false)" >Back</button>
                <button type="button" class="btn btn-primary btn-lg" style="margin-left: 20px; margin-top: 40px;" (click)="onAddIOP()" >Add</button>
            
            </form>
        </div>
        
    </div>
    <hr />
</div>

<div class="content">
    <h2>IPO Details</h2>
    <div class="action">
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Company Name</th>
                <th scope="col">Stock Exchange</th>
                <th scope="col">Price per share</th>
                <th scope="col">Total number of Shares</th>
                <th scope="col">Open Date Time</th>
                <th scope="col">Remarks</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                  <th scope="row">1</th>
                  <th scope="col">Company Name1</th>
                  <th scope="col">Stock Exchange1</th>
                  <th scope="col">555555</th>
                  <th scope="col">888888</th>
                  <th scope="col">2020-01-02</th>
                  <th scope="col">Remarks</th>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <th scope="col">Company Name2</th>
                  <th scope="col">Stock Exchange2</th>
                  <th scope="col">666666</th>
                  <th scope="col">888888</th>
                  <th scope="col">2020-01-03</th>
                  <th scope="col">Remarks</th>
                </tr>
            </tbody>
        </table>
        <div>
            <img class="add_img" src="assets/and.jpg" alt="" (click)="onSwitch(true)">
        </div>
    </div>
    
</div>
<br>
<hr />
