<div class="content">
    <h2>IPO Details</h2>
    <div class="action">
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Company Name</th>
                <th scope="col">Stock Exchange</th>
                <th scope="col">Price per share</th>
                <th scope="col">Total number of Shares</th>
                <th scope="col">Open Date Time</th>
                <th scope="col">Remarks</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                  <th scope="row">1</th>
                  <th scope="col">Company Name1</th>
                  <th scope="col">Stock Exchange1</th>
                  <th scope="col">555555</th>
                  <th scope="col">888888</th>
                  <th scope="col">2020-01-02</th>
                  <th scope="col">Remarks</th>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <th scope="col">Company Name2</th>
                  <th scope="col">Stock Exchange2</th>
                  <th scope="col">666666</th>
                  <th scope="col">888888</th>
                  <th scope="col">2020-01-03</th>
                  <th scope="col">Remarks</th>
                </tr>
            </tbody>
        </table>
    </div>
  </div>